In [1]:
import warnings 
warnings.filterwarnings(action="ignore")

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('D:/DBDA_Official10/Machine_Learning/Machine_Learning/Assignment/Datasets/Universities.csv')

In [4]:
df.head()

       Univ   SAT  Top10  Accept  SFRatio  Expenses  GradRate
0     Brown  1310     89      22       13     22704        94
1   CalTech  1415    100      25        6     63575        81
2       CMU  1260     62      59        9     25026        72
3  Columbia  1310     76      24       12     31510        88
4   Cornell  1280     83      33       13     21864        90

In [5]:
df['Univ'].unique()

array(['Brown', 'CalTech', 'CMU', 'Columbia', 'Cornell', 'Dartmouth',
       'Duke', 'Georgetown', 'Harvard', 'JohnsHopkins', 'MIT',
       'Northwestern', 'NotreDame', 'PennState', 'Princeton', 'Purdue',
       'Stanford', 'TexasA&M', 'UCBerkeley', 'UChicago', 'UMichigan',
       'UPenn', 'UVA', 'UWisconsin', 'Yale'], dtype=object)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Univ      25 non-null     object
 1   SAT       25 non-null     int64
 2   Top10     25 non-null     int64
 3   Accept    25 non-null     int64
 4   SFRatio   25 non-null     int64
 5   Expenses  25 non-null     int64
 6   GradRate  25 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.5+ KB